.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818 ;
  overflow: hidden;
  z-index: -1;
}

.connection-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}



.blob-1 {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #ffffff05, #ffffff09);
  filter: blur(20px);
  animation: blob-move-1 10s infinite alternate;
  position: absolute;
}


@keyframes blob-move-1 {
  0% {
    border-radius: 600px 900px 500px 500px;
  }
  33% {
    border-radius: 300px 500px 700px 400px;
  }
  55%{
    border-radius: 500px 900px 700px 600px;
  }
  66% {
    border-radius: 600px 900px 500px 500px;
  }
  100% {
    border-radius: 600px 400px 500px 500px;
  }
}




@keyframes pulse {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

.stars {
  position: absolute;
  width: 500%;
  height: 500%;
}

.star {
  position: absolute;
  background: var(--aqua-color);
  border-radius: 50%;

  animation: twinkle 3s ease-in-out infinite;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.3;
    
  }
  50% {
    opacity: 1;
    transform: translateX(-500%) translateY(-700%);
  }
  100% {
    opacity: 0.3;
    transform: translateX(0%) translateY(0%);
}
}

@media (max-width: 768px) {
  .blob-1 {
    width: 250px;
    height: 250px;
  }


}
