
.navbar {
  position: fixed;
  top: 5%;
  left: calc(50% - 10%);
  width: 20%;
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.055);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar h3{
    font-size: 0.8rem;
    color: rgba(235, 235, 235, 0.8);
    transition: all 0.3s ease;
}

.navbar h3:hover {
    color: rgba(3, 216, 231, 0.95);
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.123);
}

.navbar h3:not(.active):hover {
    padding: 6px 12px;
    border-radius: 20px;
    border-bottom: 1px solid rgba(3, 216, 231, 0.089);
    box-shadow: 
        0px 10px 9px rgba(3, 216, 231, 0.158),
        0 0px 0px rgba(3, 216, 231, 0.363),
        inset 0 0 0px rgba(3, 216, 231, 0.1);
}

.navbar:hover{
    transform: scale(1.05);
}

.navbar h3.active{
    color: rgba(3, 216, 231, 0.637);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    padding: 6px 5px;
    border-radius: 20px;
    border-bottom: 1px solid rgba(3, 216, 231, 0.089);
    box-shadow: 
        0px 10px 9px rgba(3, 216, 231, 0.158),
        0 0px 0px rgba(3, 216, 231, 0.363),
        inset 0 0 0px rgba(3, 216, 231, 0.1);
}

.hidden{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

@keyframes shine {
    0%, 100% {
        box-shadow: 
            0px 3px 10px rgba(3, 216, 231, 0.5),
            0 0 5px rgba(3, 216, 231, 0.3),
            inset 0 0 10px rgba(3, 216, 231, 0.1);
    }
    50% {
        box-shadow: 
            0 5px 11px rgba(3, 216, 231, 0.7),
            0 7px 20px rgba(3, 216, 231, 0.5),
            inset 0 0 15px rgba(3, 216, 231, 0.2);
    }
}

